
/* основные брейкпоинты из метрики */

@media (max-width: 1280px) {

    .blog-slider__item {
        padding-left: 50px;
    }

    ul.slick-dots {
        margin-left: 50px;
    }

     .team__item, .pricing__item{
        width: 32%;
    }

    .clients__list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .clients__item {
        margin: 0 10px 20px 10px;
    }

    .contacts__left {
        max-width: 50%;
    }
}

@media (max-width: 1024px) {
    .about__inner {
        display: block;
    }

    .subtitle {
        margin-bottom: 40px;
    }
    
    .about__text, .expertise__text {
        max-width: 100%;
    }

    .expertise__top {
        display: block;
    }

    section {
        padding: 70px 0;
    }

    .expertise__list {
        display: block;
    }

    .expertise__item {
        width: 100%;
    }

    .magic__inner {
        padding: 30px;
    }

    .portfolio__top-line {
        display: block;
        margin-bottom: 50px;
    }

    .portfolio .subtitle {
        margin-bottom: 30px;
    }

    .numbers {
        padding: 70px 0;
    }

    .blog-slider__item-content {
        max-width: 100%;
        padding-right: 50px;
    }

    .pricing__item-number {
        font-size: 60px;
    }
    
}

@media (max-width: 800px) {

    .menu__list {
        position: absolute;
        z-index: 1;
        background-color: #333;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(-100%);
        /* прикрепляю к низу header__top*/
        /* и смещаю вниз на высоту себя */
        display: block;
        /* на мобилке нужен block, т.к. на декстопе flex */
        text-align: center;
        transition: all .5s;
    }

    .menu-active .menu__list {
        transform: translateY(100%);
    }

    .menu-active img {
        transform: rotate(90deg);
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0;
    }

    .menu__list-link {
        display: inline-block;
        padding: 15px;
        color: #fff;
    }

    .header__title {
        font-size: 60px;
        line-height: 68px;
    }

    .header__menu-btn {
        display: block;
    }

    .subtitle-3 {
        font-size: 38px;
    }

    section {
        padding: 50px 0;
    }

    .subtitle-2 {
        font-size: 44px;
    }

    .expertise__percent {
        width: 100%;
        margin-right: 0;
    }

    .expertise__top {
        margin-bottom: 70px;
    }

    .expertise__item {
        padding-left: 70px;
    }
    
    .magic__img {
        display: none;
    }

    .magic__inner {
        max-width: 100%;
        padding: 0;
    }

    .portfolio__content {
        column-count: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .portfolio__item {
        max-width: 47%;
        max-height: 170px;
        overflow: hidden;
    }

    .portfolio__filters {
        display: block;
    }

    .portfolio__filters-item +.portfolio__filters-item {
        margin-left: 0;
    }

    .portfolio__top-line {
        margin-bottom: 20px;
    }

    .portfolio__blockquote {
        margin: 40px auto;
    }

    .numbers {
        padding: 50px 0;
    }

    .portfolio__numbers {
        flex-wrap: wrap;
    }

    .portfolio__numbers-item {
        width: 50%;
        margin: 10px 0;
    }

    .blog-slider h3 {
        line-height: 127%;
        font-size: 30px;
    }

    .team__list, .pricing__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .team__item, .pricing__item {
        width: 40%;
        margin: 0 10px 20px 10px;
    }
    
    .pricing__item-number {
        font-size: 40px;
    }

    .pricing__item-number sup {
        font-size: 20px;
    }

    .contacts__map {
        position: static;
        width: 100%;
        height: 300px;
        margin-top: 30px;
    }

    .contacts__left {
        max-width: 100%;
    }

    ul.footer__social {
        flex-wrap: wrap;
    }

    .footer__social-item + .footer__social-item {
        margin: 0 20px;
    }

    .footer__social-item {
        margin: 0 20px;
    }

}

@media (max-width: 430px) {

    .header__title {
        font-size: 44px;
        line-height: 48px;
    }

    .subtitle-3 {
        font-size: 30px;
    }

    .subtitle-2 {
        font-size: 37px;
    }

   .expertise__item {
        padding-left: 0;
        padding-top: 60px;
    }

    .portfolio__item {
        max-width: 100%;
    }

    .portfolio__numbers h5 {
        font-size: 44px;
    }

    .blog-slider h3 {
        font-size: 20px;
    }

    .team__list, .pricing__list {
        display: block;
    }

    .team__item, .pricing__item {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .clients__list {
        display: block;
        text-align: center;
     }

    .clients__link {
        display: inline-block;
    }

    .footer__social {
        flex-direction: column;
    }
}